body {
    margin: 0;
}

.person-name {
    float: right;
    color: black;
    padding: 5px;
    font-weight: bold;
    margin-top: 6px;
}

#icons {
    display:flex;
    width: 50;
    height: 50;
    align-items: center; /* Center vertically within the flex container */
}

nav {
    background-color: rgb(73, 73, 250);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: end;
    font-family: Arial, sans-serif;

}
table {
    margin-top: 100px;
    width: 80%;
    background-color: rgb(218, 224, 247);
    border-color: blue;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}
tr {
    text-align: center;
}

.positioning-body {
    margin: 40px;
    color: blue;
    text-decoration: none;
    font-size: 17px;
}

a {
    margin-right: 40px;
}

.profile-icon {
    margin: 0px;
    padding-left: 7px;
}
.setting-icon {
    margin: 0;
    padding-top: 6px;
}