body {
    margin: 0;
}

.person-name {
    float: right;
    color: black;
    padding: 5px;
    font-weight: bold;
    margin-top: 6px;
}

#icons {
    display:flex;
    width: 50;
    height: 50;
    align-items: center; /* Center vertically within the flex container */
}

nav {
    background-color: rgb(73, 73, 250);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: end;
    font-family: Arial, sans-serif;

}
table {
    margin-top: 100px;
    width: 80%;
    background-color: rgb(218, 224, 247);
    border-color: blue;
    border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
}
tr {
    text-align: center;
}

.positioning-body {
    margin: 40px;
    color: blue;
    text-decoration: none;
    font-size: 17px;
}

a {
    margin-right: 40px;
}

.profile-icon {
    margin: 0px;
    padding-left: 7px;
}
.setting-icon {
    margin: 0;
    padding-top: 6px;
}
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

p {
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: rgb(151, 170, 249);
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(110, 138, 253);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
h2 {
    text-align: center;
    margin: 0;
}
.logout {
    float:left;
    color: black;
}